<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>View Blog</h1>
<div class="form-control">
    <form  th:object="${view}">
        <div class="form-control">
            <p>id</p>
            <label>
                <input type="text" th:field="*{customerId}" disabled>
            </label>
        </div>
        <div class="form-control">
            <p>Name</p>
            <label>
                <input type="text" th:field="*{customerName}" disabled>
            </label>
        </div>
        <div class="form-control">
            <p>Birth Day</p>
            <label>
                <input type="text" th:field="*{customerBirthDay}" disabled>
            </label>
        </div>
        <div class="form-control">
            <p>Gender</p>
            <label>
                <input type="text" th:field="*{customerGender}" disabled>
            </label>
        </div>
        <div class="form-control">
            <p>Id Card</p>
            <label>
                <input type="text" th:field="*{customerIdCard}" disabled>
            </label>
        </div>
        <div class="form-control">
            <p>Phone</p>
            <label>
                <input type="text" th:field="*{customerPhone}" disabled>
            </label>
        </div>
        <div class="form-control">
            <p>Email</p>
            <label>
                <input type="email" th:field="*{customerEmail}" disabled>
            </label>
        </div>
        <div class="form-control">
            <p>Address</p>
            <label>
                <input type="text" th:field="*{customerAddress}" disabled>
            </label>
        </div>
        <div class="form-control">
            <p>Type Customer</p>
            <label>
                <input type="text" th:field="*{customerTypeId.customerTypeName}" disabled>
            </label>
        </div>

    </form>
    <div>
        <a th:href="@{/customer}">Back to menu</a>
    </div>
</div>

<th:block th:insert="layout::js">
</th:block>
</body>
</html>